.kevinChild {
  width: 302px;
  height: 368px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-skyblue-100);
  border: 3px solid var(--color-midnightblue-100);
  box-sizing: border-box;
  display: none;
}
.kevin1 {
  position: relative;
  display: inline-block;
  min-width: 124.9px;
  z-index: 1;
}
.kevinCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-48xl) 0 var(--padding-49xl);
}
.blankLine,
.ditHeeftMij,
.heyIkBen,
.inDitTeam {
  margin: 0;
}
.heyIkBenContainer {
  width: 259px;
  height: 291px;
  position: relative;
  font-size: var(--font-size-xs);
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.daanChild,
.kevin {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-skyblue-100);
  border: 3px solid var(--color-midnightblue-100);
}
.kevin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-lg) 0;
  gap: var(--gap-12xs);
}
.daanChild {
  width: 302px;
  height: 368px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.daan1 {
  position: relative;
  display: inline-block;
  min-width: 112px;
  z-index: 1;
}
.daanCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-55xl);
}
.blankLine1,
.blankLine2,
.hiIkBen,
.ikVindHet,
.mijnDoelIs {
  margin: 0;
}
.hiIkBenContainer {
  width: 253px;
  height: 267px;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-anek-latin);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.daan,
.jorickChild {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-skyblue-100);
  border: 3px solid var(--color-midnightblue-100);
}
.daan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-lg) var(--padding-xl);
  gap: var(--gap-12xs);
}
.jorickChild {
  width: 302px;
  height: 368px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.jorick1 {
  position: relative;
  z-index: 1;
}
.jorickCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-41xl);
}
.hiIkBen1 {
  margin: 0;
  white-space: pre-wrap;
}
.blankLine3,
.blankLine4 {
  margin: 0;
}
.hiIkBenContainer1 {
  width: 254px;
  height: 284px;
  position: relative;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.jorick,
.quintenChild {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-skyblue-100);
  border: 3px solid var(--color-midnightblue-100);
}
.jorick {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-2xl) 0;
  gap: var(--gap-8xs);
}
.quintenChild {
  width: 302px;
  height: 368px;
  position: relative;
  box-sizing: border-box;
  display: none;
}
.quinten1 {
  position: relative;
  z-index: 1;
}
.quintenCard {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-27xl);
}
.blankLine5,
.heyIkBen1,
.inOnsTeam {
  margin: 0;
}
.heyIkBenContainer1 {
  width: 270.3px;
  height: 292.5px;
  position: relative;
  font-size: var(--font-size-mini);
  font-family: var(--font-anek-latin);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.quinten,
.ranagulPicture {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-skyblue-100);
  border: 3px solid var(--color-midnightblue-100);
}
.quinten {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-xs) 0;
  gap: var(--gap-12xs);
}
.ranagulPicture {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  width: 303px;
}
.ranagul1 {
  position: absolute;
  top: 16px;
  left: 59px;
  display: inline-block;
  width: 183.9px;
  height: 60px;
  z-index: 1;
}
.ranagulCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 102px;
  height: 368px;
}
.blankLine6,
.hihiIkBen,
.mijnDoelIn {
  margin: 0;
}
.hihiIkBenContainer {
  position: absolute;
  width: calc(100% - 23.6px);
  top: 79px;
  left: 11px;
  font-size: var(--font-size-smi);
  font-family: var(--font-inter);
  text-align: center;
  display: inline-block;
  height: 301.4px;
  z-index: 1;
}
.ranagul {
  height: 380.4px;
  width: 303px;
  position: relative;
  flex-shrink: 0;
}
.charlizeChild {
  width: 302px;
  height: 368px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-skyblue-100);
  border: 3px solid var(--color-midnightblue-100);
  box-sizing: border-box;
  display: none;
}
.charlize1 {
  flex: 1;
  position: relative;
  z-index: 1;
}
.charlizeCard {
  width: 281.5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-31xl) 0 var(--padding-32xl);
  box-sizing: border-box;
}
.blankLine7,
.blankLine8,
.hiIkBen2,
.ikKijkUit,
.ikVindHet1 {
  margin: 0;
}
.hiIkBenContainer2 {
  width: 281.5px;
  height: 288px;
  position: relative;
  font-size: var(--font-size-sm);
  font-family: var(--font-anek-latin);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.charlize,
.teamMemberNames,
.theTeam {
  flex-shrink: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.charlize {
  width: 302px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-sm);
  background-color: var(--color-skyblue-100);
  border: 3px solid var(--color-midnightblue-100);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-xs) var(--padding-7xs) 0 var(--padding-5xs);
  gap: var(--gap-12xs);
}
.teamMemberNames,
.theTeam {
  overflow-x: auto;
  flex-direction: row;
}
.theTeam {
  width: 1366px;
  gap: var(--gap-sm-8);
  debug_commit: 1de1738;
  max-width: 106%;
}
.teamMemberNames {
  align-self: stretch;
  height: 369px;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-31xl);
  color: var(--color-black);
  font-family: var(--font-anek-gurmukhi);
}
@media screen and (max-width: 800px) {
  .charlize1,
  .daan1,
  .jorick1,
  .kevin1,
  .quinten1,
  .ranagul1 {
    font-size: var(--font-size-21xl);
  }
}
@media screen and (max-width: 450px) {
  .kevin1 {
    font-size: var(--font-size-11xl);
  }
  .kevinCard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .daan1 {
    font-size: var(--font-size-11xl);
  }
  .daanCard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .jorick1 {
    font-size: var(--font-size-11xl);
  }
  .jorickCard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hiIkBenContainer1 {
    font-size: var(--font-size-base);
  }
  .quinten1 {
    font-size: var(--font-size-11xl);
  }
  .quintenCard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .charlize1,
  .ranagul1 {
    font-size: var(--font-size-11xl);
  }
  .charlizeCard {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
