.containerParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 351px;
  box-sizing: border-box;
  gap: 162px;
  max-width: 100%;
}
.image1Icon,
.pictures {
  position: absolute;
  top: 0;
}
.image1Icon {
  left: -542px;
  width: 2527px;
  height: 5851px;
  object-fit: cover;
}
.pictures {
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: var(--br-sm);
  background-color: rgba(134, 210, 237, 0.5);
  width: 100%;
  height: 100%;
}
.blankLine,
.deOpdracht {
  margin: 0;
}
.vanuitHetErasmus {
  margin: 0;
  font-weight: 500;
}
.deOpdrachtVanuitContainer {
  position: absolute;
  top: 38px;
  left: 50px;
  display: inline-block;
  width: 1187px;
  z-index: 2;
}
.pictures1,
.pictures2,
.pictures3,
.picturesParent {
  position: absolute;
  left: 76px;
  width: 1292px;
  z-index: 1;
}
.picturesParent {
  top: 1399px;
  height: 344px;
  text-align: left;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-anek-latin);
}
.pictures1,
.pictures2,
.pictures3 {
  top: 1959px;
  filter: blur(4px);
  border-radius: var(--br-sm);
  background-color: var(--color-midnightblue-200);
  height: 12px;
}
.pictures2,
.pictures3 {
  top: 3754px;
}
.pictures3 {
  top: 215px;
  left: 74px;
  z-index: 2;
}
.imageGallery {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.definitiefConcept {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  z-index: 1;
}
.conceptTitle {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  max-width: 100%;
}
.description {
  margin: 0;
  position: absolute;
  top: 0;
  left: 509px;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.finalConceptPicture {
  position: absolute;
  top: 17px;
  left: 0;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(20px);
  border-radius: var(--br-sm);
  background-color: var(--color-midnightblue-300);
  width: 1292px;
  height: 626px;
  z-index: 2;
}
.conceptImage {
  align-self: stretch;
  height: 660px;
  position: relative;
  font-size: 600px;
  color: var(--color-white);
}
.conceptTitleParent,
.onePager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.conceptTitleParent {
  align-self: stretch;
  gap: 71px;
  max-width: 100%;
}
.onePager {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 70px var(--padding-55xl) 78px;
  box-sizing: border-box;
  gap: 273px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-61xl);
  color: var(--color-black);
  font-family: var(--font-anek-latin);
}
@media screen and (max-width: 1325px) {
  .containerParent {
    gap: 81px;
    padding-bottom: 228px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 800px) {
  .containerParent {
    gap: var(--gap-21xl);
    padding-bottom: 148px;
    box-sizing: border-box;
  }
  .definitiefConcept {
    font-size: var(--font-size-21xl);
  }
  .description {
    font-size: 240px;
  }
  .conceptTitleParent {
    gap: 35px;
  }
  .onePager {
    gap: 136px;
    padding-left: var(--padding-18xl);
    padding-right: var(--padding-18xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .containerParent {
    gap: var(--gap-xl);
    padding-bottom: 96px;
    box-sizing: border-box;
  }
  .deOpdrachtVanuitContainer {
    font-size: var(--font-size-xl);
  }
  .definitiefConcept {
    font-size: var(--font-size-5xl);
  }
  .description {
    font-size: var(--font-size-131xl);
  }
  .conceptTitleParent {
    gap: 18px;
  }
  .onePager {
    gap: 68px;
  }
}
